.formcontato{
    background: var(--cor-navegacion);
}
    

/*PC*/
@media screen and (min-width: 768px) and (max-width: 2000px) {
    .formcontato{
        padding: 2rem 7rem;
    }
}

/*Tablet*/
@media screen  and (max-width: 767px) {
    .formcontato{
        padding: 2rem 1rem;
    }
} 

/*Mobile*/
@media screen and (max-width: 480px) {
    .formcontato{
        padding: 1rem .5rem;
    }
}