.skills__img{
    background: var(--cor-de-link);
    border-radius: 15px;
    display: grid;
    justify-content: center;
    padding: 1.25rem 1rem;
}

.img__html, .img__js, .img__css, .img__python, .img__mysql, .img__oracle {
    height: 50px;
    width: 100%;
}