.academic__title{
    color: var(--cor-menu-link);
    text-align: center;
}


/*PC*/
@media screen and (min-width: 768px) and (max-width: 2000px) {
    .academic__title{
        font-size: 1.75rem;
    }
}

/*Tablet*/
@media screen  and (max-width: 767px) {
    .academic__title{
        font-size: 1.20rem;
    }
}

/*Mobile*/
@media screen and (max-width: 480px) {
    .academic__title{
        font-size: 1rem;
    }
}