/* From uiverse.io by @adamgiebl */

/* Boton repositorio */
.experience__botao--repo {
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    border: 2px solid var(--cor-boton-uno);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    border-radius: 0.6em;
    color: var(--cor-boton-uno);
    font-family: inherit;
    line-height: 1.4em;
    letter-spacing: 0.06em;
    overflow: hidden;
    padding: 10px 6px;
    position: relative;
    transition: all 0.3s;
}
   
.experience__botao--repo:hover {
    color: var(--cor-boton-sombra-uno);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}
   
.experience__botao--repo:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}
   
.experience__botao--repo:hover:before {
    transform: translateX(15em);
}


/* Boton demo */
.experience__botao--demo{
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    border: 2px solid var(--cor-boton-dos);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    border-radius: 0.6em;
    color: var(--cor-boton-dos);
    font-family: inherit;
    line-height: 1.4em;
    letter-spacing: 0.06em;
    overflow: hidden;
    padding: 10px 12px;
    position: relative;
    transition: all 0.3s;
}
   
.experience__botao--demo:hover{
    color: var(--cor-boton-sombra-dos);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}
   
.experience__botao--demo:before{
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}
   
.experience__botao--demo:hover:before{
    transform: translateX(15em);
}


/*PC*/
@media screen and (min-width: 768px) and (max-width: 2000px) {
    .experience__botao--repo, .experience__botao--demo{
        font-size: 1rem;
    }
}

/*Tablet*/
@media screen  and (max-width: 767px) {
    .experience__botao--repo, .experience__botao--demo{
        font-size: .7rem;
    }
} 

/*Mobile*/
@media screen and (min-width: 0px) and (max-width: 480px) {
    .experience__botao--repo, .experience__botao--demo{
        font-size: .8rem;
    }
}