.hobbies__img{
    background: var(--cor-de-link);
    border-radius: 15px;
    display:grid;
    justify-content: center;
    padding: 1.25rem 1rem;
}

.gameboy, .series, .musica, .programar, .viajar, .leer{
    height: 40px;
    width: 40px;
}